<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food Blog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
     <!-- Link external CSS style file -->
    <link rel="stylesheet" href="style.css"> 
    <!-- Link external VUE file -->
    <script src="vue.js" type="module"></script>
    
  </head>
  <body class="container-fluid">
    <div class="row">
    <aside id="leftside" class="col-4"></aside>
    <aside id="rightside" class=col-8></aside>
    </div>
    <div id="container" class="container-fluid">
      
      <header id="headerinfo">
        <myheader></myheader>
      </header>

      <main>
        <aside id="photos">
          <myheroimage>
        </aside>
        <mycomments></mycomments>

        <section id="blogposts">
          <div class="post">
            <div class="avatar">
            
            <img v-on:click="isShow1 = true" v-bind:src="image" alt="" width="60px">
            
            <span class="author">{{brianna.author}}</span> --
            <span class="date">{{brianna.date}}</span>
            <span class="reply">{{brianna.reply}}</span>
            </div> 
            <p>{{brianna.desc}}</p>
             <div class="popupwindow" v-if="isShow1">
          <h3>{{brianna.author}}</h3>
          <div class="level">
            <b>Foodie Level: </b>
            <span>{{brianna.level}}</span>
            </div>
            <div class="bio">
            <b>Bio: </b>
            <p>{{brianna.bio}}</p>
            </div>
            <button class="closebox" v-on:click="isShow1=false">Close</botton>
          </div>
          
          </div>

          <div class="post">
            <div class="avatar">
            <img v-on:click="isShow2 = true" v-bind:src="image" alt="" width="60px">
            <span class="author">{{linh.author}}</span>-
            <span class="date">{{linh.date}}</span>
            <span class="reply">{{linh.reply}}</span>
            </div> 
            <p>{{linh.desc}}</p>
            <div class="popupwindow" v-if="isShow2">
          <h3>{{linh.author}}</h3>
          <div class="level">
            <b>Foodie Level: </b>
            <span>{{linh.level}}</span>
            </div>
            <div class="bio">
            <b>Bio: </b>
            <p>{{linh.bio}}</p>
            </div>
            <button class="closebox" v-on:click="isShow2=false">Close</botton>
          </div>
          </div>

          <div class="post">
            <div class="avatar">
            <img v-on:click="isShow3 = true" v-bind:src="image" alt="" width="60px">
            <span class="author">{{catherine.author}}</span>-
            <span class="date">{{catherine.date}}</span>
            <span class="reply">{{catherine.reply}}</span>
                        </div> 
            <p>{{catherine.desc}}</p>
              <div class="popupwindow" v-if="isShow3">
          <h3>{{catherine.author}}</h3>
          <div class="level">
            <b>Foodie Level: </b>
            <span>{{catherine.level}}</span>
            </div>
            <div class="bio">
            <b>Bio: </b>
            <p>{{catherine.bio}}</p>
            </div>
            <button class="closebox" v-on:click="isShow3=false">Close</botton>
          </div>
          </div>

          <div class="post">
            <div class="avatar">
            <img v-on:click="isShow4 = true" v-bind:src="image" alt="" width="60px">
            <span class="author">{{kali.author}}</span>-
            <span class="date">{{kali.date}}</span>
            <span class="reply">{{kali.reply}}</span>
                        </div> 
            <p>{{kali.desc}}</p>
                <div class="popupwindow" v-if="isShow4">
          <h3>{{kali.author}}</h3>
          <div class="level">
            <b>Foodie Level: </b>
            <span>{{kali.level}}</span>
            </div>
            <div class="bio">
            <b>Bio: </b>
            <p>{{kali.bio}}</p>
            </div>
            <button class="closebox" v-on:click="isShow4=false">Close</botton>
          </div>
          </div>
        </section>
      </main>

      <footer>&copy; Copyright FOOD BLOG</footer>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"
></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"
></script>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
crossorigin="anonymous"
></script>
  </body>
</html>
